html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 1.2em;
}

body {
  background-color: #26282d;
  color: #d3d7de;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  color: #f3f7fe;
}

a {
  color: #eaca8a;
  transition: color 0.2s ease-in;
  text-decoration: none;
}

a:hover, a.active {
  color: #fff;
}

a:focus {
  outline: 0;
}

code {
  border: 0.15em solid #eaca8a;
}

.header {
  padding-top: 20px;
}

.header a {
  font-size: 1.2em;
}


.header > h3 > a {
  margin-right: 1.8em;
}

.header > h3 > small {
  margin-right: 0.3em;
}

#content > h2 {
  text-align: center;
}

.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.date-title {
  text-align: center;
  font-size: 0.8em;
  color: #f3f7fe;
}

.post-list a {
  font-size: 1.1em;
}

.text-lg {
  font-size: 1.2em;
}

.image {
  display: block;
  margin: auto;
  max-width: 38rem;
  border: 0.15em solid #eaca8a;
}

.subtitle {
  text-align: center;
  font-size: 0.8em;
}

.borderless {
  border: none !important;
}
