@import "./animations.less";
@import "../node_modules/nvd3/build/nv.d3.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@underground: #222034;
@obscurity: #1e202d;
@corp_blue: #252b45;
@midnight_sea: #3b4082;
@shallow_purple: #9a9bc7;
@frosty_blue: #b9d9ff;
@light_yellow: #f8e0ba;

html, body {
  margin: 0;
  background-color: @underground;
  color: @frosty_blue;
}

#speech {
  @color: #34495e;
  font-family: "Cantarell", "Droid Sans Mono", "Liberation Mono";
  font-size: 1.3em;
  padding: 8px 12px 4px 12px;
  position: relative;
  display: inline-block;
  border: 3px solid @color;
  border-radius: 0.5em;
  margin-bottom: 10px;

  &:after {
    position: absolute;
    top: 100%;
    right: 45%;
    content: " ";
    height: 0;
    width: 0;
    border: solid;
    pointer-events: none;
    border-width: 8px;
    border-color: transparent;
    border-top-color: @color;
  }
}

.unselectable {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.walking-animation {
  @animation_width: 96px * 2px;

  position: relative;
  display: inline-block;
  height: 80px;
  width: @animation_width;

  white-space: nowrap;
  overflow: hidden;
  border-radius: 5em;
  perspective: 1px;
  cursor: pointer;
  .unselectable;

  img {
    -o-animation: side-scroll 3s linear infinite;
    -ms-animation: side-scroll 3s linear infinite;
    -moz-animation: side-scroll 3s linear infinite;
    -webkit-animation: side-scroll 3s linear infinite;
    animation: side-scroll 3s linear infinite;
    pointer-events: none;
  }

  #me {
    position: absolute;
    top: 0;
    left: (@animation_width / 2) - (32 / 2px);

    width: 32px;
    height: 32px;
  }
}

.page-title {
  padding: 1.75em;
  text-align: center;
}

.main-content {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.post {
  display: inline-block;
  max-width: 600px;

  .title {
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
  }

  .post-date {
    font-size: 0.8em;
  }

  p {
    font-size: 1.1em;
    text-align: justify;

    b {
      color: @light_yellow;
    }
  }

  &.brief > a, .link {
    display: inline-block;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.3em;
    color: @frosty_blue;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border: 0.2em solid @frosty_blue;
    border-radius: 0.3em;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: @corp_blue;
    }
  }
}

.chart {
  padding: 2em;
  height: 500px;
  border-radius: 0.3em;
  background-color: white;
}

.chart-subtitle {
  font-size: 0.8em;
  padding: 0.3em;
}
